<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Successful</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/success.css')}}">
</head>
<body>
    <div class="transaction-page success">
        <div class="transaction-message">
            <h1>Transaction Successful!</h1>
            <p>Your payment has been processed successfully. Thank you for shopping with us!</p>
            <a href="/home" class="btn">Go to Home</a>
            <!-- <a href="cart.html" class="btn secondary">View Orders</a> -->
        </div>
    </div>
</body>
</html>
